@import '../palette.scss';

nav {
    background: linear-gradient(25deg, $headerbg 0%, $headerdarkbg 100%);
    box-shadow: 1px 1px 5px #00000080;
    padding-left: 1rem;
    padding-right: 1rem;
}

nav .header-logo {
    transition: 0.5s;
}

nav .header-logo:hover {
    transform: rotate(45deg);
}
