@import 'https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap';

html {
    min-width: 100%;
    min-height: 100%;

    background: url('../../assets/img/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body, #root, #app {
    background: transparent;
}

body {
    font-family: 'Titillium Web', sans-serif;
}
