@import 'https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap';

html {
    min-width: 100%;
    min-height: 100%;

    background: linear-gradient(10deg, $bg 0%, $darkbg 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

body, #root, #app {
    background: transparent;
}

body {
    font-family: 'Titillium Web', sans-serif;
}
