/*
 * The color palette for the site.
 */

// Background
$bg: #251f30;
$darkbg: #13131c;

// Header
$headerbg: #a64798;
$headerdarkbg: #6f64be;

// Staff Colors
$headadmin: #1e90ff;
$admin: #f82055;
$sysadmin: #3768db;
$srmod: #db29ff;
$mod: #8e30fc;
$developer: #ffa500;
$helper: #24c9f2;

// Games
$gmod: #2059f7;
$minecraft: #2ab556;
$fivem: #e67e22;
